html {
	height: calc(100vh - 10px);
}

body {
	background-color: #161616;
	color: #ABABAB;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

header {
	display: flex;
	height: fit-content;
}

#title-container {
	flex: 1;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
}

#title {
	font-size: 500%;
	text-align: center;
	font-weight: light;
}

#content-container {
	flex: 1;
	display: flex;
}

main {
	flex: 1;
	flex-direction: column;
	padding:10px;
	display: flex;
}

.orig {
	display: initial;
}

#clock {
	display: block;
	margin: auto;
}

#navigation {
	height: auto;
	min-width: 150px;
}

.navbutton {
	background-color: #646464;
	padding: 10px;
	margin: 10px;
}

article {
	display: flex;
	padding: 10px;
	flex-direction: column;
}

.article-header {
	font-size: 200%;
	text-align: center;
	padding: 10px;
}

.spacer {
	height: 5px;
	background-color: #515151;
	margin-left: 10%;
	margin-right: 10%;
}

.article-content {
	padding: 10px;
	display: flex;
}

.article-text {
	flex: 1;
}

.quote {
	padding-top: 10px;
	padding-left: 5%;
	height: fit-content;
	display: inline-block;
	color: #cdcdcd;
	font-style: italic;
	font-size: larger;
}

.article-image {
	max-width: 150px;
	object-fit: contain;
}

.article-footer {
	padding: 5px;
	font-size: 50%;
	color: #515151;
}

.gallery-container {
	display: flex;
	flex-direction: column;
}

.gallery {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-content: flex-start;
}

.gallery-element {
	align-self: start;
	padding: 5px;
	max-width: 50%;
	max-height: 256px;
	object-fit: contain;
}

footer {
	display: flex;
	height: fit-content;
}

#footer-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#footer {
	font-size: 50%;
	text-align: center;
	font-weight: light;
}

.dummy {
	height: 150px;
	width: 150px;
}

aside {
	width: 150px;
}

.featured, .featured a {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	max-height: 512px;
}

.featured-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.featured-image:hover {
	width: fit-content;
}

.tile-container {
	display:grid;
	grid-template-columns: repeat(auto-fill, 160px);
	grid-template-rows: repeat(auto-fill, 160px);
	grid-auto-flow: row dense;
	width: 90%;
	height: 100%;
	margin: 5%;
}
.tile-aa {
	height: 150px;
	width: 150px;
	margin: 5px;
	background-color: rgb(192, 51, 51);
}

.tile-ab {
	height: 150px;
	width: 310px;
	margin: 5px;
	background-color: rgb(51, 192, 51);
	grid-column-start: span 2;
}

.tile-bb {
	height: 310px;
	width: 310px;
	margin: 5px;
	background-color: rgb(51, 51, 192);
	grid-column-start: span 2;
	grid-row-start: span 2;
}

.tile-href, .tile-href:visited {
	margin: auto;
	height: 100%;
	text-align: center;
	font-size:700%;
	font-weight: bold;
	display:block;
	color:white;
	text-decoration: none;
}

.name {
	width:100%;
	height:100%;
	font-size: 350%;
	font-weight: lighter;
	display: inline-flex;
	align-items: flex-end;
}

.name-jp {
	width:100%;
	height:100%;
	font-size: 700%;
	font-weight: lighter;
	line-height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.tile-clock {
	width:100%;
	height:100%;
	font-size: 450%;
	color:#515151;
	font-weight: lighter;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}